In [1]:
import pandas as pd

In [2]:
dataset =pd.read_excel("loan.xlsx")
dataset.head(3)

   Age  Gender Education Level          Job Title  Years of Experience  Salary
0   32    Male      Bachelor's  Software Engineer                    5   90000
1   28  Female        Master's       Data Analyst                    3   65000
2   45    Male             PhD     Senior Manager                   15  150000

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  59 non-null     int64
 1   Gender               59 non-null     object
 2   Education Level      59 non-null     object
 3   Job Title            59 non-null     object
 4   Years of Experience  59 non-null     int64
 5   Salary               59 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.9+ KB

In [4]:
dataset.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [12]:
dataset["Job Title"].value_counts()

Education Level
Bachelor's    32
Master's      20
PhD            7
Name: count, dtype: int64

In [15]:
dataset["Age"]=dataset["Age"].astype("int64")

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  59 non-null     int64
 1   Gender               59 non-null     object
 2   Education Level      59 non-null     object
 3   Job Title            59 non-null     object
 4   Years of Experience  59 non-null     int64
 5   Salary               59 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.9+ KB