In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
dataset =pd.read_excel("hosuing.xlsx")
dataset.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking
0,13300000,7420,4,2,3,yes,no,no,no,yes,2
1,12250000,8960,4,4,4,yes,no,no,no,yes,3
2,12250000,9960,3,2,2,yes,no,yes,no,no,2
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2

In [12]:
dataset.shape

(49, 11)

In [7]:
input_data = dataset.iloc[:,:-1]
output_data=dataset["price"]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test =train_test_split(input_data,output_data,test_size=0.25)

In [13]:
x_test.shape, y_test.shape

((13, 10), (13,))

In [14]:
x_train.shape, y_train.shape

((36, 10), (36,))